.operation-screen{
    // background-image: url(../assets/images/operation-screen.png);
    // background-size: cover;
    // background-repeat: no-repeat;
    background: rgb(52, 52, 51);
    height: 100vh;
    width: 100%;
    position: absolute;
}

//时间类型容器
.time-tab-box{
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 9;
}

// grid布局
.grid-layout{
    display: grid;
    grid-template-columns: repeat(100, 1fr); //宽度平均分成100等份
    grid-template-rows: repeat(100, 1%); //高度平分一百等份
    grid-gap: 1px; // item（项目）之间的间隔
    grid-auto-flow: row; //容器子元素“下行后列”进行排列
    height: calc(100% - 80px); //减去时间类型容器的高度
    //子元素-项目
    //grid-column是简写形式，等价于grid-column-start和grid-column-end
    //grid-row是简写形式，等价于grid-row-start和grid-row-end
    .grid-item{
        //线网
        &.line-net{
            grid-column: 1/28;
            grid-row: 1/25;
        }
        //车辆
        &.bus{
            grid-column: 1/28;
            grid-row: 25/48;
        }
        // 违规原因分析
        &.getout-reasons{
            grid-column: 72/101;
            grid-row: 1/44;
        }
        //卡类型使用情况
        &.card-type-use{
            grid-column: 1/28;
            grid-row: 44/72;
        }
        //线路运客数排名
        &.transport-passenger-rank{
            grid-column: 72/101;
            grid-row: 44/72;
        }
        //电子支付趋势
        &.e-pay-trend{
            grid-column: 1/101;
            grid-row: 72/101;
        }
        //区域客流统计
        &.area-passenger-stat{
            grid-column: 28/72;
            grid-row: 1/72;
        }
    }
}